<h3>予約したイベントの一覧表</h3>

<div>
  <% @resovesions.each do |resovesion| %>
    <% @events.each do |event| %>
      <div>
        <p>イベント画像</p>
        <p><%= image_tag(event.eventimage.to_s, class: "event-image") %></p>
      </div>
      <div>
        <p>イベント名</p>
        <p><%= event.eventname %></p>
      </div>
      <div>
        <p>イベントの内容</p>
        <p><%= simple_format(event.content) %></p>
      </div>
      <div>
        <p>予約した日付</p>
        <p><%= resovesion.day %></p>
      </div>
      <div>
        <p>予約した人数</p>
        <p><%= resovesion.people %></p>
      </div>
      <div>
        <p>予約したイベントの詳細</p>
        <p><%= link_to "予約したイベントの詳細", resovesion %></p>
      </div>
      <div>
        <p>予約したイベントの編集</p>
        <p><%= link_to "予約したイベントの編集", [:edit, resovesion] %></p>
      </div>
      <div>
        <p>予約したイベントの削除</p>
        <p>
          <%= link_to "予約したイベントの削除", resovesion ,method: :delete, data: { confirm: "本当に削除しますか?" } %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
<div>
  <ul>
    <li><%= link_to "イベントの一覧表", events_path %></li>
  </ul>
</div>
