<h3>イベントを予約する</h3>

<%= form_with model: @resovesion do |f| %>
  <table>
    <tr>
      <th><%= f.label :day, "予約する日付" %></th>
      <td><%= f.datetime_field :day %></td>
    </tr>
    <tr>
      <th><%= f.label :people, "予約する人数" %></th>
      <td><%= f.number_field :pepole %></td>
    </tr>
  </table>
  <%= f.hidden_field :user_id, value: @user_id %>
  <%= f.hidden_field :event_id, value: @event_id %>
  <div>
    <ul>
      <li><%= f.submit "予約を完了する" %></li>
    </ul>
  </div>
<% end %>

<div>
  <ul>
    <li><%= link_to "予約したイベントの一覧表", resovesions_path %></li>
  </ul>
</div>
