<h4>イベントの新規登録</h4>

<%= form_with model: @event do |f| %>
  <table>
    <tr>
      <th><%= f.label :eventname, "イベント名" %></th>
      <td><%= f.text_field :eventname %></td>
    </tr>
    <tr>
      <th><%= f.label :eventimage, "写真" %></th>
      <td><%= f.file_field :eventimage %></td>
    </tr>
    <tr>
      <th><%= f.label :first_day, "開始日" %></th>
      <td><%= f.datetime_field :first_day %></td>
    </tr>
    <tr>
      <th><%= f.label :last_day, "終了日" %></th>
      <td><%= f.datetime_field :last_day %></td>
    </tr>
    <tr>
      <th><%= f.label :place, "場所" %></th>
      <td><%= f.text_area :place %></td>
    </tr>
    <tr>
      <th><%= f.label :content, "内容" %></th>
      <td><%= f.text_area :content %></td>
    </tr>
    <tr>
      <th><%= f.label :eventtype, "イベントの種類" %></th>
      <td><%= f.text_field :eventtype %></td>
    </tr>
  </table>
  <div>
    <ul>
      <li><%= f.submit "登録を完了する" %></li>
      <li><%= link_to "イベントの一覧表", events_path %></li>
    </ul>
  </div>
<% end %>
