<h4>イベントの詳細</h4>

<div>
  <div>
    <p>イベントの写真</p>
    <p><%= image_tag(@event.eventimage.to_s, class: "event-image") %></p>
  </div>
  
  <div>
    <p>イベント動画</p>
    <p>
      <%= link_to @event.video_url.to_s do %>
        <%= video_tag(@event.video.to_s) %>
      <% end %>
    </p>
  </div>
  
  <div>
    <p>イベント名</p>
    <p><%= @event.eventname %></p>
  </div>
  
  <div>
    <p>場所</p>
    <p><%= simple_format(@event.place) %></p>
  </div>
  
  <div>
    <p>内容</p>
    <p><%= simple_format(@event.content) %></p>
  </div>
  
  <div>
    <p>開始日</p>
    <p><%= @event.first_day %></p>
  </div>
  
  <div>
    <p>終了日</p>
    <p><%= @event.last_day %></p>
  </div>
  
  <div>
    <p>作成日</p>
    <p><%= @event.created_at.to_s(:datetime_jp) %></p>
  </div>
  
  <div>
    <p>更新日</p>
    <p><%= @event.updated_at.to_s(:datetime_jp) %></p>
  </div>
</div>
<div>
  <ul>
    <li><%= link_to 'イベントの一覧表', events_path %></li>
    <li><%= link_to 'イベントの編集', [:edit, @event] %></li>
    <li><%= link_to 'イベントの削除', @event, method: :delete, data: { confirm: "本当に削除しますか?" } %></li>
  </ul>
</div>
<%= render "post_new" %>
<%= render "index_post" %>
<%= render "new_resovesion" %>

<h3>予約されているイベント一覧表</h3>

<table>
  <thead>
    <tr>
      <th>予約者の名前</th>
      <th>予約した日付</th>
      <th>予約した人数</th>
    </tr>
  </thead>
  <tbody>
    <% @resovesions.each do |resovesion| %>
      <tr>
        <td><%= resovesion.user.username %></td>
        <td><%= resovesion.day %></td>
        <td><%= resovesion.people %></td>
      </tr>
    <% end %>
  </tbody>
</table>
