<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <nav>
          <ul>
            <li><%= link_to("プロフィール設定", "/users/edit") %></li>
            <li><%= link_to("ログアウト", "/users/sign_out", method: :delete) %></li>
          </ul>
        </nav>
      <% else %>
        <div>
          <%= link_to("ログイン", "/users/sign_in") %>
          <%= link_to("新規登録する", "/users/sign_up") %>
        </div>
      <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
