<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div> <!--ユーザの画像が表示される-->
          <l><%= current_user.username %></l>
          <% if current_user.image.file == nil %>
            <img src="/assets/default_icon.png" class="default_image">
          <% else %>
            <img src="<%= current_user.image %>" class="default_image">
          <% end %>
        </div>
        <nav>
          <ul>
            <li><%= link_to("プロフィール設定", "/users/edit") %></li>
            <li><%= link_to("ログアウト", "/users/sign_out", method: :delete) %></li>
            <li><%= link_to "イベントの新規登録", new_event_path %></li>
            <li><%= link_to "イベントの予約一覧表", resovesions_path %></li>
            <li><%= link_to "お気に入り一覧", user_path(current_user.id) %></li>
          </ul>
        </nav>
      <% else %>
        <div>
          <%= link_to("ログイン", "/users/sign_in") %>
          <%= link_to("新規登録する", "/users/sign_up") %>
        </div>
      <% end %>
    </header>
    <div>
      <%= link_to "イベントの一覧", events_path %> 
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <fotter>
    <p>現在の日付: <%= Time.current.to_s(:datetime_jp) %></p>
    <p>イベントの一覧の合計:<%= Event.count %>件</p>
  </fotter>
</html>
